
.container2 {
    padding-top: 40px;
    margin: auto;
    height: 120px;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content:space-between;
    text-align: center;
    flex-wrap: space-between;
    align-self: center;
  
  }
  
  button {
    
    font-family: monospace;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
  }
  
  button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }